<div class="not-found">
  <div class="content">
    <img
      src="../../assets/images/page-not-found.png"
      class="image page-not-found"
      alt="Página não encontrada"
    />

    <div class="texts">
      <h1 class="title">Oops!</h1>

      <h1 class="title">Página não encontrada!</h1>

      <h2 class="subtitle">
        Desculpe, não conseguimos encontrar o que você procurou.
      </h2>

      <button class="btn" mat-flat-button routerLink="/" color="primary">
        Ir para página inicial
      </button>
    </div>
  </div>
</div>
