.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;

    .image {
      width: 40%;
      max-width: 32rem;
    }

    .texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 1rem;
      margin-bottom: 1rem;

      .title {
        color: var(--color-primary);
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 3.5rem;
        letter-spacing: 0.0094rem;
        text-align: left;
        margin: 0;
      }

      .subtitle {
        font-size: 1.5rem;
        color: var(--color-gray-600);
        font-weight: 700;
        line-height: 3.5rem;
        letter-spacing: 0.0094rem;
        text-align: left;
        margin: 0;
      }

      .btn {
        margin-top: 1.5rem;
        padding: 0 1.5rem;
      }
    }
  }
}
