<div class="access-denied">
  <div class="content">
    <img class="image page-access-denied" alt="Acesso Negado" />
    <div class="texts">
      <h1 class="title">ACESSO NEGADO</h1>
      <h2 class="subtitle">
        Desculpe, mas você não tem permissão para acessar esta página.
      </h2>
      <span class="suggestion">
        Para resolver isso, sugerimos que você contate o seu administrador para
        liberar este conteúdo.
      </span>
      <button routerLink="/" routerLinkActive="active" class="btn-primary">
        Página Inicial
      </button>
    </div>
  </div>
</div>
