.menu-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .content-container {
    display: flex;
    height: calc(100vh - 5rem);

    .content {
      width: 100%;
      overflow-y: scroll;
      background-color: blue;
      padding: 1rem;
    }
  }
}
