<div class="login-page flex-row-all-center">
  <div class="login-card">
    <div class="left-container">
      <h1>Tecnologia para o seu supermercado ter mais resultados!</h1>
      <div class="left-container-content">
        <ul>
          <li>Aumento da Produtividade</li>
          <li>Segurança de Dados</li>
          <li>Organização</li>
          <li>Controle de Estoque</li>
          <li>Controle Financeiro e Fiscal</li>
          <li>Auxílio para Tomadas de Decisões</li>
        </ul>
        <img src="../../assets/images/login_carrinho.png" alt="" />
      </div>
    </div>
    <div class="right-container">
      <img src="../../assets/images/logo_vr.svg" alt="" />

      <form class="login-form">
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" />
          <!-- <mat-error>Please enter a valid email address</mat-error>
          <mat-error>Email is <strong>required</strong></mat-error> -->
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Senha</mat-label>
          <input type="password" matInput />
          <!-- <mat-error>Please enter a valid email address</mat-error>
          <mat-error>Email is <strong>required</strong></mat-error> -->
        </mat-form-field>

        <mat-slide-toggle color="primary" class="toggle">
          Lembrar meu usuário
        </mat-slide-toggle>

        <button mat-flat-button color="primary" class="submit-btn">
          Entrar
        </button>
      </form>
    </div>
  </div>

  <img
    class="logo-assinatura"
    src="../../assets/images/logo_vr_com_assinatura.svg"
    alt=""
  />
</div>
