.login-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 70%;
    padding: 3rem 2rem;
    box-shadow: 0.5rem 0.5rem 1rem #0000003d;
    border-radius: 0.8rem;

    .left-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 45%;
      padding: 0 2rem;
      border-right: 0.0133rem solid rgba(0, 0, 0, 0.3);

      h1 {
        color: var(--color-primary);
        font-size: 2.2rem;
      }

      .left-container-content {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          transform: translateX(-25px);

          li {
            margin-bottom: 1rem;
            font-size: 0.9rem;
            font-weight: lighter;
          }
        }

        img {
          width: 11rem;
          margin-left: auto;
        }
      }
    }

    .right-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 55%;
      height: 100%;
      padding: 0 2rem;

      .login-form {
        width: 100%;

        .form-field {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        button {
          width: 100%;
          margin-top: 1rem;
        }
      }

      img {
        width: 7.5rem;
        margin-bottom: auto;
      }
    }
  }

  .logo-assinatura {
    width: 13rem;
    margin-top: 2.5rem;
  }
}

.login-form ::ng-deep .form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.8rem;
  position: relative;

  .field-label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
}
