footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--color-gray-50);
  height: 2rem;
  font-size: 0.85rem;
  border-top: 0.1px solid rgba(0, 0, 0, 0.3);
}
