aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  background-color: var(--color-gray-50);
  border-right: 0.1px solid rgba(0, 0, 0, 0.3);
  width: 4.5rem;
  height: 100%;

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease;
    margin-bottom: 1rem;

    &:hover {
      color: var(--color-primary);
    }

    .menu-item__icon {
      transform: scale(1.3);
    }

    .menu-item__label {
      margin-top: 0.2rem;
      font-size: 0.7rem;
    }
  }
}
