// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-colors: (
  50: #ec9248,
  100: #e86800,
  200: #b65200,
  300: #e86800,
  400: #e86800,
  500: #e86800,
  600: #e86800,
  700: #e86800,
  800: #e86800,
  900: #e86800,
  A100: #e86800,
  A200: #e86800,
  A400: #e86800,
  A700: #e86800,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$codelab-front-primary: mat.define-palette($my-colors, 100, 50, 200);
$codelab-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$codelab-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$codelab-front-theme: mat.define-light-theme(
  (
    color: (
      primary: $codelab-front-primary,
      accent: $codelab-front-accent,
      warn: $codelab-front-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($codelab-front-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--color-default);
}

:root {
  --color-default: #1f1f1f;
  --color-primary: #e86800;
  --color-gray-50: #eceff1;
}
